/* GENERAL */

/* body * {
    border: 1px solid red;
} */

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#header img {
    width: 45%;
    height: auto;
}

/* LOADING SCREEN */

.cards {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cards .card {
    margin-bottom: 3vh;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 12px 12px 2px 1px rgba(1, 255, 14, 0.2);
}

.card a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.header a, .card a {
    color: inherit;
    text-decoration: inherit;
}

/* CANVAS */

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside {
    display: none;
    position: relative;
    z-index: 999;
}