/* body * {
    border: 1px solid red;
} */

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

.header h1 {
    text-align: center;
    color: green;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 10vh 12vw 0 12vw;
}

.cards .card {
    margin-bottom: 1vh;
    padding: 10px;
}

.card a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.header a, .card a {
    color: inherit;
    text-decoration: inherit;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
}